extends layout

block content
  if passport
    p Zawartość req.session.passport:
      ul
        for val, key in passport
          li #{key}: #{val}
  if log_info
    p Zawartość res.locals.logInfo ('Zalogowany' + req.user.username):
      ul: li #{log_info}
  if user
    p Cała zawartość req.user, ważne jest to co w bazie danych (pola _id, username, password, admin)
      ul
        for val, key in user
          li #{key}: #{val}
